* text=auto


*.py text eol=lf
*.sh text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.less text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.xml text eol=lf
*.java text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.go text eol=lf
*.rb text eol=lf
*.php text eol=lf
*.sql text eol=lf
*.pl text eol=lf
*.r text eol=lf
*.lua text eol=lf
*.erl text eol=lf
*.hs text eol=lf
*.ipynb text eol=lf


*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.eot binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary
*.swf binary
*.flv binary
*.pdf binary
*.psd binary
*.ai binary
*.mov binary
*.avi binary
*.mp4 binary
*.mkv binary
*.webm binary
*.mp3 binary
*.wav binary
*.zip binary
*.rar binary
*.7z binary
*.gz binary
*.tar binary
*.bz2 binary
*.xz binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.class binary
*.jar binary
*.war binary
*.ear binary
*.pyc binary


*.pth filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text


*.h5 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text


*.ckpt filter=lfs diff=lfs merge=lfs -text


*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text


*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.aiff filter=lfs diff=lfs merge=lfs -text


*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text


*.sqlite3 filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text


*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text


*.onnx filter=lfs diff=lfs merge=lfs -text


*.pb filter=lfs diff=lfs merge=lfs -text


*.pkl filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text

*.csv
data/